In [1]:
import pandas as pd
import yfinance as yf
import statsmodels.api as sm

In [2]:
data = yf.download("NIFTYBEES.NS",start='2020-01-03',end='2021-9-13')
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-03,129.070007,130.850006,129.070007,129.710007,129.710007,298681
2020-01-06,129.399994,129.470001,127.110001,127.370003,127.370003,721657
2020-01-07,127.949997,128.699997,127.309998,127.760002,127.760002,743200
2020-01-08,126.589996,127.750000,126.500000,127.559998,127.559998,422774
2020-01-09,128.949997,129.550003,128.350006,129.339996,129.339996,291102
...,...,...,...,...,...,...
2021-09-03,172.309998,193.389999,172.309998,186.910004,186.910004,1329680
2021-09-06,186.960007,188.449997,186.960007,187.550003,187.550003,1038640
2021-09-07,187.949997,188.399994,186.600006,187.169998,187.169998,855784
2021-09-08,188.440002,188.440002,186.350006,187.139999,187.139999,1193553
2021-09-09,193.389999,193.389999,186.050003,187.419998,187.419998,541346

In [3]:
df=data['Adj Close'].pct_change()*100
df

Date
2020-01-03         NaN
2020-01-06   -1.804027
2020-01-07    0.306194
2020-01-08   -0.156547
2020-01-09    1.395421
                ...
2021-09-03    0.510861
2021-09-06    0.342410
2021-09-07   -0.202615
2021-09-08   -0.016028
2021-09-09    0.149620
Name: Adj Close, Length: 419, dtype: float64

In [4]:
df = df.rename("Today")
df = df.reset_index()
df

          Date     Today
0   2020-01-03       NaN
1   2020-01-06 -1.804027
2   2020-01-07  0.306194
3   2020-01-08 -0.156547
4   2020-01-09  1.395421
..         ...       ...
414 2021-09-03  0.510861
415 2021-09-06  0.342410
416 2021-09-07 -0.202615
417 2021-09-08 -0.016028
418 2021-09-09  0.149620

[419 rows x 2 columns]

In [5]:
for i in range(1,6):
    df['Lag '+str(i)] = df['Today'].shift(i)
df

          Date     Today     Lag 1     Lag 2     Lag 3     Lag 4     Lag 5
0   2020-01-03       NaN       NaN       NaN       NaN       NaN       NaN
1   2020-01-06 -1.804027       NaN       NaN       NaN       NaN       NaN
2   2020-01-07  0.306194 -1.804027       NaN       NaN       NaN       NaN
3   2020-01-08 -0.156547  0.306194 -1.804027       NaN       NaN       NaN
4   2020-01-09  1.395421 -0.156547  0.306194 -1.804027       NaN       NaN
..         ...       ...       ...       ...       ...       ...       ...
414 2021-09-03  0.510861  0.895236 -0.130049  1.084513  1.292722  0.401070
415 2021-09-06  0.342410  0.510861  0.895236 -0.130049  1.084513  1.292722
416 2021-09-07 -0.202615  0.342410  0.510861  0.895236 -0.130049  1.084513
417 2021-09-08 -0.016028 -0.202615  0.342410  0.510861  0.895236 -0.130049
418 2021-09-09  0.149620 -0.016028 -0.202615  0.342410  0.510861  0.895236

[419 rows x 7 columns]

In [6]:
df['Volume']=data.Volume.shift(1).values/1000_000_000

In [7]:
df=df.dropna()
df

,Date,Today,Lag 1,Lag 2,Lag 3,Lag 4,Lag 5,Volume
6,2020-01-13,0.617239,0.208755,1.395421,-0.156547,0.306194,-1.804027,0.000426
7,2020-01-14,0.460080,0.617239,0.208755,1.395421,-0.156547,0.306194,0.000531
8,2020-01-15,0.000000,0.460080,0.617239,0.208755,1.395421,-0.156547,0.000326
9,2020-01-16,-0.076323,0.000000,0.460080,0.617239,0.208755,1.395421,0.000319
10,2020-01-17,0.213886,-0.076323,0.000000,0.460080,0.617239,0.208755,0.000278
...,...,...,...,...,...,...,...,...
414,2021-09-03,0.510861,0.895236,-0.130049,1.084513,1.292722,0.401070,0.000887
415,2021-09-06,0.342410,0.510861,0.895236,-0.130049,1.084513,1.292722,0.001330
416,2021-09-07,-0.202615,0.342410,0.510861,0.895236,-0.130049,1.084513,0.001039
417,2021-09-08,-0.016028,-0.202615,0.342410,0.510861,0.895236,-0.130049,0.000856
418,2021-09-09,0.149620,-0.016028,-0.202615,0.342410,0.510861,0.895236,0.001194

In [8]:
df['Direction']= [1 if i >0 else 0 for i in df['Today']]
df

<ipython-input-8-ff0698526558>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Direction']= [1 if i >0 else 0 for i in df['Today']]

,Date,Today,Lag 1,Lag 2,Lag 3,Lag 4,Lag 5,Volume,Direction
6,2020-01-13,0.617239,0.208755,1.395421,-0.156547,0.306194,-1.804027,0.000426,1
7,2020-01-14,0.460080,0.617239,0.208755,1.395421,-0.156547,0.306194,0.000531,1
8,2020-01-15,0.000000,0.460080,0.617239,0.208755,1.395421,-0.156547,0.000326,0
9,2020-01-16,-0.076323,0.000000,0.460080,0.617239,0.208755,1.395421,0.000319,0
10,2020-01-17,0.213886,-0.076323,0.000000,0.460080,0.617239,0.208755,0.000278,1
...,...,...,...,...,...,...,...,...,...
414,2021-09-03,0.510861,0.895236,-0.130049,1.084513,1.292722,0.401070,0.000887,1
415,2021-09-06,0.342410,0.510861,0.895236,-0.130049,1.084513,1.292722,0.001330,1
416,2021-09-07,-0.202615,0.342410,0.510861,0.895236,-0.130049,1.084513,0.001039,0
417,2021-09-08,-0.016028,-0.202615,0.342410,0.510861,0.895236,-0.130049,0.000856,0
418,2021-09-09,0.149620,-0.016028,-0.202615,0.342410,0.510861,0.895236,0.001194,1

In [9]:
df = sm.add_constant(df)
df

,const,Date,Today,Lag 1,Lag 2,Lag 3,Lag 4,Lag 5,Volume,Direction
6,1.0,2020-01-13,0.617239,0.208755,1.395421,-0.156547,0.306194,-1.804027,0.000426,1
7,1.0,2020-01-14,0.460080,0.617239,0.208755,1.395421,-0.156547,0.306194,0.000531,1
8,1.0,2020-01-15,0.000000,0.460080,0.617239,0.208755,1.395421,-0.156547,0.000326,0
9,1.0,2020-01-16,-0.076323,0.000000,0.460080,0.617239,0.208755,1.395421,0.000319,0
10,1.0,2020-01-17,0.213886,-0.076323,0.000000,0.460080,0.617239,0.208755,0.000278,1
...,...,...,...,...,...,...,...,...,...,...
414,1.0,2021-09-03,0.510861,0.895236,-0.130049,1.084513,1.292722,0.401070,0.000887,1
415,1.0,2021-09-06,0.342410,0.510861,0.895236,-0.130049,1.084513,1.292722,0.001330,1
416,1.0,2021-09-07,-0.202615,0.342410,0.510861,0.895236,-0.130049,1.084513,0.001039,0
417,1.0,2021-09-08,-0.016028,-0.202615,0.342410,0.510861,0.895236,-0.130049,0.000856,0
418,1.0,2021-09-09,0.149620,-0.016028,-0.202615,0.342410,0.510861,0.895236,0.001194,1

In [10]:
X = df[['const','Lag 1','Lag 2','Lag 3','Lag 4','Lag 5','Volume']]

In [11]:
y=df.Direction

In [12]:
model=sm.Logit(y,X)

In [13]:
result=model.fit()

Optimization terminated successfully.
         Current function value: 0.665466
         Iterations 5

In [14]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              Direction   No. Observations:                  413
Model:                          Logit   Df Residuals:                      406
Method:                           MLE   Df Model:                            6
Date:                Mon, 13 Sep 2021   Pseudo R-squ.:                 0.01092
Time:                        23:57:46   Log-Likelihood:                -274.84
converged:                       True   LL-Null:                       -277.87
Covariance Type:            nonrobust   LLR p-value:                    0.4154
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.1783      0.189      0.946      0.344      -0.191       0.548
Lag 1          0.1082      0.076      1.432      0.152      -0.040       0.256
Lag 2         -0.0105      0.073     -0.145      0.884      -0.153       0.132
Lag 3         -0.0031      0.072     -0.043      0.966      -0.144       0.138
Lag 4          0.0796      0.074      1.082      0.279      -0.065       0.224
Lag 5          0.1198      0.073      1.643      0.100      -0.023       0.263
Volume       102.0603     76.846      1.328      0.184     -48.554     252.675
==============================================================================
"""

In [15]:
prediction = result.predict(X)

In [16]:
prediction

6      0.509623
7      0.578610
8      0.585771
9      0.595775
10     0.567373
         ...
414    0.625900
415    0.645980
416    0.606541
417    0.573031
418    0.610015
Length: 413, dtype: float64

In [17]:
 def confusion_matrix(act,pred):
        predtrans=['Up' if i>0.5 else "Down" for i in pred]
        actuals = ['Up' if i>0 else "Down" for i in act]
        confusion_matrix = pd.crosstab(pd.Series(actuals),
                                       pd.Series(predtrans),
                                       rownames=['Actual'],
                                       colnames=['Predicted'])
        return confusion_matrix

In [18]:
confusion_matrix(y,prediction)

Predicted  Down   Up
Actual
Down          6  159
Up            8  240

In [19]:
len(df)

413

In [20]:
246/413

0.5956416464891041

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [22]:
model = sm.Logit(y_train,X_train)

In [23]:
result= model.fit()

Optimization terminated successfully.
         Current function value: 0.656693
         Iterations 5

In [24]:
prediction = result.predict(X_test)
confusion_matrix(y_test,prediction)

Predicted  Down  Up
Actual
Down          4  54
Up            4  75

In [25]:
(4+75)/len(X_test)

0.5766423357664233

In [26]:
from sklearn.linear_model import LogisticRegression

In [27]:
from sklearn import preprocessing
normalizer=preprocessing.StandardScaler()
training_values_nomalized=normalizer.fit_transform(X_train)

In [32]:
result=clf.fit(X_train,y_train)

In [33]:
prediction = result.predict(X_test)
confusion_matrix(y_test,prediction)

Predicted  Down  Up
Actual
Down          2  56
Up            2  77

In [39]:
from sklearn.model_selection import cross_val_score
clf=LogisticRegression()
scores=cross_val_score(clf,training_values_nomalized,y_train,cv=10)
print(scores.mean()*100,"%")

61.230158730158735 %